/*================HOME=================*/
/* Navbar Styles */
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

.vh-100{
    margin-top: 5%;

}
.custom-navbar {
    background-color: #fffdec;
}
.custom-navbar {
    background-color: #fffdec;
    position: fixed; 
    z-index: 1000; 
    width: 100%;
    top: 0; 
}


.navbar-nav .nav-item .nav-link {
    color: #02594d !important; 
    font-weight: bolder !important;
    font-size: 18px;
    font-family: 'Rubik Mono One', sans-serif;
    padding: 5px 40px; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff8674 !important; 
}

.navbar-logo {
    width: 50px;
}

.btn-custom {
    background-color: #02594d; 
    color: #fff;
    border-color: #02594d; 
}

.btn-custom:hover {
    background-color: #d9534f; 
    color: #fff;
    border-color: #d9534f; 
   
}
.custom-cart-button i.material-icons {
    font-size: 40px; 
  
}

.custom-cart-button {
    padding: 10px 40px; 
    color:#02594d;
    display: inline-block; 
}

.custom-cart-button:hover {
    background-color: transpagrerent; 
    color: #ff8674 !important; 
}

/*================HOME SEPARATOR=================*/

.separator-section1-class {
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    max-width: 400px;
    margin: 0 auto; 
    padding-top: 70px;
}

#home-section {
    background-image: url('/static/images/homeB.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    height: 1000px;
}
#separator-section-1 {
    background-color:#fffdec;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    height: 300px; 
}


/*================MENU=================*/

#Menu-section {
    display: flex;
    height: 600px; 
   
    background-color: #d9e5db;

}

#Menu-section .left-half {
    flex: 1;
    background-image: url('/static/images/menB.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
}

#Menu-section .right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-custom {
    background-color: #02594d; 
    color: #fff; 
    border-color: #02594d; 
}

.btn-custom:hover {
    background-color: #d9534f; 
    color: #fff; 
    border-color: #d9534f; 
}
.Menu-section-text{
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 50px; 

}

.Menu-section-head{
    color: #02594d; 
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 50px; 
}

.menu-section {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.item-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}


/*================LCOATION=================*/
#Location-section{
    display: flex;
    height: 600px; 
    background-color: #ffde9f;
}

#Location-section .left-half  {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

#Location-section .right-half{


    flex: 1;
    background-image: url('/static/images/locationB.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.btn-custom {
    background-color: #02594d; 
    color: #fff;
    border-color: #02594d; 
}

.btn-custom:hover {
    background-color: #d9534f;
    color: #fff; 
    border-color: #d9534f; 
}
.Location-section-text{
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 50px; 

}

.Location-section-head{
    color: #02594d;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 50px; 
}

/*================REVIEWS=================*/
#Reviews-section {
    display: flex;
    height: 600px; 
    background-color: #d9e5db;
}

#Reviews-section .left-half {
    flex: 1;
    background-image: url('/static/images/reviewB.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
}

#Reviews-section .right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-custom {
    background-color: #02594d; 
    color: #fff; 
    border-color: #02594d; 
}

.btn-custom:hover {
    background-color: #d9534f; 
    color: #fff; 
    border-color: #d9534f; 
}
.Reviews-section-text{
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 50px; 
}
.Reviews-section-head{
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 50px;
}
/*================ABOUT US =================*/
#About-Us-section {
    display: flex;
    height: 600px; 
    background-color: #ffde9f;
}
#About-Us-section .left-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#About-Us-section .right-half {
    flex: 1;
    background-image: url('/static/images/aboutusB.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
}
.btn-custom {
    background-color: #02594d; 
    color: #fff; 
    border-color: #02594d; 
}

.btn-custom:hover {
    background-color: #d9534f;
    color: #fff;
    border-color: #d9534f; 
}
.About-Us-section-text{
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;

    max-width: 550px; 
    margin: 0 auto; 
    padding-top: 50px; 
}

.About-Us-section-head{
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 50px; 
}
/*================HOME FOOTER=================*/
#footer-section {
    display: flex;
    background-color: #c4c3b7;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 170px;
}

.left-section {
    flex: 1;
    padding: 20px; 
    display: flex;
    align-items: center;
}
.right-section {
    flex: 1;
    margin-right: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-section-text {
    color: #02594d;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    max-width: 550px;
    margin: 0 auto;
    padding-top: 10px; 
}
.footer-section-head {
    color: #02594d;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px; 
}
.copyright-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 30px;
    color: #02594d;
    font-family: 'Open Sans', sans-serif;
    text-align: center !important;
    font-size: 14px;
    background-color: #c4c3b7;
}
.navbar-brand-foot {
    padding-top: 5%;
    padding-left: 25%;   
}
.navbar-logo-foot {
    width: 150px;
}

/*================LOGIN/SIGNUP=================*/
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }
.vh-100{
    margin-top: 5%;
}

/*================MENU=================*/
.form-control-menu {
    margin-left: 22%;
    width: 50% !important; 
    max-width: 900px; 
    height: 40px; 
    font-size: 18px; 
    border-radius: 3px;
   
}
.search-button {
    background-color: #02594d;
    color: #dfe8e7;
    border: none;
    height: 40px;
    font-size: 18px;   
}
#price-filter {
    display: none;
    margin-left: 22%;
    font-size: 14px;
}
#price-sort{
    background-color: #02594d;
    color: #dfe8e7;
    border: none;
    height: 25px;
    font-size: 14px; 
    border-radius: 3px;
}
.search-button:hover {
    background-color:#d9534f;
    color: #95beb2;
}

.price-filter button {
    background-color: #02594d;
    color: #dfe8e7;
    border: none;
    height: 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.price-filter button:hover {
    background-color: #d9534f;
    color: #95beb2;
}


.separator-menu-class {
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 30%; 
}
#separator-menu {
    background-image:url('/static/images/menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    height: 600px; 
}
body {
    background-color: #fffdec;
    font-family: 'Open Sans', sans-serif;
}

.menu-options {
    margin-top: 2%;
    text-align: center;
}
.menu-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #02594d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #d9534f; 
    color: #fff;
}
.menu-section {
    margin-top:5%;
    margin-bottom: 5%;
    text-align: left;
    margin-left: 15%; 
    margin-right: 15%; 
    padding: 20px; 
    border: 1px solid #ccc; 
}

.item-name {
    font-weight: bold;
    font-size: 20px;
    color:#02594d;
}
.item-price {
    font-weight: bold;
    font-size: 20px;
    color: #d9534f; 
   /*margin-left: 80%;
    font-size: 18px;
    margin-left: 90%;
    padding-left: 60%;*/
    float: left;
    margin-left: auto;
    padding-right:5%;
    
   
}
.add-to-cart-button {
    background-color: #02594d;
    color: #dfe8e7;
    border: none;
    font-size: 14px;
    height: 35px;
    width: 50px;
    cursor: pointer;
    border-radius: 3px;
    float: left;
}
.item-description {
    font-size: 16px;
    margin-top: 10px;
}

.item-title {
    font-size: 30px; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/*================REVIEWS=================*/

.separator-review-class {
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 20%; 
}
#separator-review {
    background-image:url('/static/images/reviewsB.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    height: 400px; 
}

/*================CART=================*/

/*-------------cart items--------------*/
#separator-cart {
    background-color: #95beb2;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 180px;
    text-align: center; 
    padding-top: 100px; 
}

#separator-cart h3.separator-cart-class {
    font-size: 40px;
    font-weight: bold;
    color: #02594d; 
}
#cart-heading {
    font-size: 22px; 
    font-weight: bold;
    color: #02594d; 
    margin-left: 5%;
}

#cart-section {
    display: flex; 
    justify-content: space-between; 
}

#cart-section> .left-half {
    width: 70%; 
    padding: 20px;
    border: 1px solid #ccc; 
    margin-left: 5% ;
    margin-right: 10px;
}
#summary-heading{
    font-size: 22px; 
    font-weight: bold;
    color: #02594d;
    margin-left: 0%;

}

.menu-item-cart {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}

.menu-item-details-cart {
    flex: 1;
}

.item-name-cart {
    font-weight: bold;
    font-size: 20px;
    color: #02594d;
}

.item-description-cart {
    font-size: 16px;
    margin-top: 5px;
}

.item-price-quantity-cart {
    display: flex;
    align-items: center;
    color: #d9534f;
    font-weight: bold;
    font-size: 20px;
    padding-right: 2%;
}

.quantity-buttons-cart {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.quantity-button-cart {
    background-color: #02594d;
    color: #dfe8e7;
    border: none;
    font-size: 18px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.item-quantity-cart {
    font-size: 20px;
    margin: 0 5px;
}

.remove-from-cart-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    font-size: 18px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 5px; 
}
/*-------------payment--------------*/
#cart-section> .right-half {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc; 
    margin-right: 5%;
    max-height: 250px;
    
}

.bold-text {
    font-weight: bold;
}

.large-text {
    font-size: 20px;
}
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 16px;
}

.checkout-button {
    background-color: #d9534f;
    color: #dfe8e7;
    width: 100%; 
    border: none;
    font-size: 18px;
    margin-top: 10%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #c9312c;
}



/*==============RESERVATION===============*/
#separator-reservation {
    background-image:url('/static/images/ReservationB.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    height: 600px; 
}
.separator-reservation-class{
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    max-width: 400px; 
    margin: 0 auto; 
    padding-top: 30%; 
}
.booking-heading {
    font-size: 24px;
    color: #02594d;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.booking-instructions {
    font-size: 18px;
    font-weight: 700;
    color: #02594d; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

#booking-form {
    background-color: #d9e5db;
   
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
}
.form-label {
    font-size: 16px;
    color: #02594d;
    margin-bottom: 5px;
    font-weight: bold;
    width:67%;
}

.styled-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.book-table-btn {
    background-color: #02594d;
    color: #dfe8e7;
    width: 100%; 
    border: none;
    font-size: 18px;
    margin-top: 10%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.book-table-btn:hover {
    background-color: #c9312c;
}

/*================================ADMIN================================*/

.menu-section-admin {
    margin-top:5%;
    margin-bottom: 5%;
    text-align: left;
    margin-left: 10%; 
    margin-right: 10%; 
    padding: 20px; 
    border: 1px solid #ccc; 
}
.item-price-admin {
    font-weight: bold;
    font-size: 20px;
    color: #d9534f; 
    align-self: flex-end; 
    margin-left: 75%;
}
.edit-button{
    margin-left: 1%; 
    margin-right: 1%; 
    background-color: #02594d;
    border-radius: 3px;
}
.delete-button{
    background-color: #02594d;
    border-radius: 3px;

}
.delete-button i.material-icons {
    color: #fffdec;
}

.edit-button i.material-icons {
    color: #fffdec;
}

.delete-button:hover i.material-icons {
    color: #ff8674 !important;
}

.edit-button:hover i.material-icons {
    color: #ff8674 !important;
}
#separator-admin {
    background-color: #95beb2;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 180px;
    text-align: center; 
    padding-top: 100px; 
}

#separator-admin h3.separator-admin-class {
    font-size: 40px;
    font-weight: bold;
    color: #02594d;
}
.custom-admin-heading {
    font-size: 24px; 
    font-weight: bold;
    color: #02594d; 
    margin-left: 1%;
    
}

/*================ADMIN MENU=================*/

#separator-menu {
    background-image:url('/static/images/menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    height: 600px; 
}
.separator-heading-admin{
    color: #02594d; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    max-width: 400px; 
    margin: 0 auto; 
}
body {
    background-color: #fffdec;
    font-family: 'Open Sans', sans-serif;
}

.menu-options-admin {
    margin-top: 2%;
    text-align: center;
}
.menu-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #02594d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #d9534f; 
    color: #fff;
}
.menu-section-admin {
    margin-top:5%;
    margin-bottom: 5%;
    text-align: left;
    margin-left: 15%; 
    margin-right: 15%; 
    padding: 20px; 
    border: 1px solid #ccc; 
}

.item-name {
    font-weight: bold;
    font-size: 20px;
    color:#02594d;
}
/*
.item-price {
    font-weight: bold;
    font-size: 20px;
    color: #d9534f; 
   /*margin-left: 80%;
    font-size: 18px;
    margin-top: -30px;/
    float: left;
    width: 20%; 
}*/
.item-description {
    font-size: 16px;
    margin-top: 10px;
}

.item-title {
    font-size: 30px; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


/*================ADMIN RESERVATION=================*/

/*================ADMIN REVIEW=================*/
